accelerate==1.13.0
beautifulsoup4
chromadb==1.5.5
cloudscraper
feedparser
google-genai==1.67.0
gradio==6.9.0
huggingface_hub==1.7.0
lxml
numpy==2.4.3
openpyxl
python-dateutil
python-telegram-bot==22.7
safetensors==0.7.0
tokenizers==0.22.2
torch==2.11.0
transformers==5.5.3
